[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "custom/cf-zsh-autocomplete-plugin"]
	path = custom/plugin/cf
	url = git://github.com/frodenas/cf-zsh-autocomplete-plugin.git
[submodule "custom/bosh-zsh-autocomplete-plugin"]
	path = custom/plugin/bosh
	url = git://github.com/frodenas/bosh-zsh-autocomplete-plugin.git
[submodule "custom/plugins/fly"]
	path = custom/plugins/fly
	url = git@github.com:sergiubodiu/fly-zsh-autocomplete-plugin.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "dircolors"]
	path = dircolors
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "spring-cloud"]
	path = spring-cloud
	url = git@github.com:sergiubodiu/spring-cloud-cli-config.git
